<!DOCTYPE html>
<html>
  <head>
    <title>ThronesApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="front">

  <h1 class ="mainpage">Winter Is Coming</h1>



  </body>
  <%= yield %>
</html>
